.navbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    z-index: 99;
    height: 85px;
    background-color: #ad2a91;
    color: #ffffff;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

#description {
    margin: 250px;
}

header {
    height: 450px;
	width: 100%;
	margin: 0px;
    display: table;
    /* opacity: 0.8; */
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 100px;
    text-align: center;
    color: #ffffff;	    
    background-image: url(https://cdn.mos.cms.futurecdn.net/djeRcVyAHcZC8xpYPkEvw.jpg);
    background-size: cover;
	background-attachment: fixed;
}



